.collapse {
  margin-bottom: 20px;
  display: block ;
}
.collapse .collapse__head {
  width: 30%;
  position: relative;
  cursor: pointer;
  padding: 5px 10px 5px 0;
}
.collapse .collapse__body {
  padding: 10px 0px 10px 0;
  display: none;
}
.collapse .collapse__body p {
  margin: 0;
}
.collapse__body .container-cards{
  padding-left: 0;
}
.collapse .collapse__head .nav-indicator {
  position: absolute;
  left: 25em;
}
.collapse .collapse__head svg.nav-indicator path {
  fill: none;
  stroke: #aaa;
  stroke-linecap: round;
  stroke-width: 2;
  stroke-dasharray: 29 40;
  -webkit-transition: stroke-dashoffset 0.3s;
  transition: stroke-dashoffset 0.3s;
}
.collapse .collapse__head svg.nav-indicator--alt {
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.collapse .collapse__head svg.nav-indicator--alt path {
  fill: none;
  stroke: #00B1F1;
  stroke-linecap: square;
  stroke-width: 2;
  stroke-dasharray: 14 40;
  stroke-dashoffset: -15;
  -webkit-transition: stroke-dashoffset 0.3s;
  transition: stroke-dashoffset 0.3s;
}
.flecha{
  fill: none;
  stroke: #00B1F1;
  stroke-linecap: square;
  stroke-width: 2;
  stroke-dasharray: 14 40;
  stroke-dashoffset: 0!important;
  -webkit-transition: stroke-dashoffset 0.3s;
  transition: stroke-dashoffset 0.3s;
}
.itemInfo{
  color: #959595;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.itemDescription{
  color: #00B1F1;
}

@media screen and (max-width: 850px){
  .nav--secondary .container-cards{
    padding-left: 0;
  }
  .collapse .collapse__head .nav-indicator {
    position: absolute;
    left: 22em;
  }
  .collapse__body .container-cards{
    padding-left: 15px;
  }
}
@media screen and (max-width: 620px){
  .collapse .collapse__head {
    width: 100% !important;
  }
}
@media screen and (max-width: 1250px){
  .collapse .collapse__head {
    width: 50%;
  }
}