.rad-sidebar {
  z-index: 9999;
  position: fixed;
  /*background: #0A3442;*/
  background: #00B1F1;
  width: 225px;
  height: 100vh;
  top: 50px;
  left: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.rad-sidebar li {
  text-align: left;
  height: 50px;
}
.rad-sidebar li a {
  display: inline-block;
  width: 100%;
  color: #fff;
  /*color: #828282;*/
}
.rad-sidebar li a i {
  width: 50px;
  line-height: 50px;
  text-align: center;
}
.rad-sidebar li a i:before {
  z-index: 10;
  position: relative;
}
.rad-sidebar li a > span {
  -webkit-transition: all .2s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.rad-sidebar li:hover {
  background: rgba(0, 0, 0, 0.20);
}
.rad-sidebar li a:hover{
  text-decoration: none;
}
.rad-sidebar.rad-nav-min {
  width: 50px !important;
}
.rad-sidebar.rad-nav-min .rad-sidebar-item {
  -webkit-transform: translate3d(-200px, 0, 0)!important;
  transform: translate3d(-200px, 0, 0)!important;
}
.rad-body-wrapper {
  position: absolute;
  left: 250px;
  top: 75px;
  width: auto;
  right: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.rad-body-wrapper.rad-nav-min {
  left: 50px;
}
.rad-chart {
  height: 250px;
}
.iconCircleMenu{
  color: #fff;
}
.rad-sidebar li:hover .iconCircleMenu{
  color: #fff;
}
.rad-sidebar li:hover span{
  color: #fff;
}
.user {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 30px;
  margin-top: 40px;
}
.user .photo{
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}
.nameUser, .lastNameUser{
  color: #fff;
  /*color: #828282;*/
  text-align: center;
  margin: 0;
  padding: 0;
  font-size:20px;
}
.info{
  margin-top: 10%;
}
.contentIconCogs{
  padding-right: 6%;
}
.iconCogs{
  color: #fff;
  text-align: right;
  font-size: 20px;
  float: right;
}
@media screen and (max-width: 850px){
  .rad-sidebar {
    top: 100px;
    -webkit-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px,0,0);
  }
  .rad-sidebar.rad-nav-min {
    width: 225px !important;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
}
@media screen and (min-width: 850px){
  .rad-sidebar.rad-nav-min{
    width: 225px !important;
  }
}
